.footer{
    font-family: fonts-styles.$myfont-heading;
    font-size: 22px;
    background-color: fonts-styles.$color-two;
    color: fonts-styles.$color-one;
    width: auto;
    height: auto;
    margin: 0px;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 20px;
    letter-spacing: 2px;
}

i {
    margin: 10px;
    margin-top: 20px;
}

a {
    color: fonts-styles.$color-one;
    &:hover {
        text-decoration: none;
        color: black;
    }
}