@use 'fonts-styles';

.footer{
    font-family: fonts-styles.$myfont-heading;
    font-size: 1rem;
    background-color: fonts-styles.$color-two;
    color: black;
    width: auto;
    height: auto;
    margin: 0px;
    margin-top: 5.5rem;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 2rem;
    letter-spacing: 2px;
    text-align: center;
}

i {
    margin: .5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

a {
    color: black;
    &:hover {
        text-decoration: none;
        color: fonts-styles.$color-one;
    }
}

.headline {
    font-size: 1.5rem;
}