@use 'variables';

.parallax-header {
    background-image: url(/images/hippos_cut.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: variables.$heading-font;
    font-style: italic;
    font-size: 100px;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    color: white;
}

.subtitle {
    font-family: variables.$main-font;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 10px;
    text-align: center;
    background-color: transparent;
    color: white;
}

.topnav {
position: sticky;
top: 0;


}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    
}
li {
    padding-left: 20px;
    padding-right:20px;
    font-family: variables.$main-font;
    font-size: 12px;
    letter-spacing: 2px;


}
a {
    text-decoration: none;
    color: white;
    &:hover {
        background-color: white;
        color: black;
    }
}
