.parallax {
    background-image: url(/images/news_cut.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url(/images/koonts_cut.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news {
    font-family: variables.$heading-font;
    font-style: italic;
    font-size: 180px;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    color: variables.$text;
}

.about {
    font-family: variables.$heading-font;
    font-style: italic;
    font-size: 180px;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    color: variables.$text;
}

.parallax-3 {
    background-image: url(/images/contact_cut.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    font-family: variables.$heading-font;
    font-style: italic;
    font-size: 180px;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    color: variables.$text;
}

.container {
    font-family: variables.$main-font;
    color: variables.$text;
    letter-spacing: 2px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom:30px;
    
}

.container-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-news-1 {
    position: relative;
    
}

.container-news-2 {
    position: relative;
    
}

.container-news-3 {
    position: relative;
    
}

.overlay-1 {
  position: absolute;
  bottom: 0;
  background: white;
  background: white; 
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 20px;
  padding: 200px;
  text-align: center;
}

.overlay-2 {
    position: absolute;
    bottom: 0;
    background: white;
    background: white; 
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: black;
    font-size: 20px;
    padding: 200px;
    text-align: center;
  }

  .overlay-3 {
    position: absolute;
    bottom: 0;
    background: white;
    background: white; 
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: black;
    font-size: 20px;
    padding: 200px;
    text-align: center;
  }

.container-news-1:hover .overlay-1 {
    opacity: 1;
  }

.container-news-2:hover .overlay-2 {
    opacity: 1;
  }

.container-news-3:hover .overlay-3 {
    opacity: 1;
  }