.container {
    width: 100%;
}

.container-fluid {
    background-color:   #F7EEEE;
    letter-spacing: 2px;
    line-height: 24px;


    
}

.img-fluid-description {
    background-color:  #F7EEEE;
    padding: 15px;
    font-family: variables.$main-font;
    line-height: 16px;
}

.news {
    margin-top: 80px;
}

.news_title {
    font-family: variables.$heading-font;
    font-size: 48px;
    font-style: italic;
    text-decoration: underline;
}

.about {
    margin-top: 80px;
}

.about_title {
    font-family: variables.$heading-font;
    font-size: 48px;
    font-style: italic;
    text-decoration: underline;
}

.about_content {
    padding: 20px;
}

.contact {
    margin-top: 80px;
}

.contact_title {
    font-family: variables.$heading-font;
    font-size: 48px;
    font-style: italic;
    text-decoration: underline;
}

.gallery_contact {
    padding: 20px;
}

.read_more {
    text-decoration: none;
    color: black;
    font-size: 14px;
    &:hover {
        text-decoration: underline;
        color: black;
    }
}

