.header {
    max-width: 70rem;
    width: 100%;
    min-height: 5rem;
    background-color: $color-two;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-nav {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    font-family: $myfont-pgraph;
    color: $color-three;
    margin-right: 1rem;
    font-size: 24px;
}
.list-nav:hover {
    color: $color-four;
}
.nav__sunds {
    font-family: $myfont-heading;
    font-size: 36px;
}
