@use 'fonts-styles';

.header {
    width: 100%;
    min-height: 4rem;
    background-color: fonts-styles.$color-two;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__sunds {
    margin-top: 1rem;
    font-family: fonts-styles.$myfont-heading;
    font-size: 2rem;
}

.list-nav {
    list-style-type: none;
    display: inline;
    font-family: fonts-styles.$myfont-pgraph;
    color: fonts-styles.$color-three;
    margin-right: 1rem;
    font-size: 1.5rem;
    
}

a {
    text-decoration: none;
    &:hover {
            color: fonts-styles.$color-four;
            transition: ease-in-out 0.2s;
    }
}




