//fonts
$heading-font: 'Libre Baskerville', serif;
$main-font: 'Raleway', sans-serif;

//colors
$background: linear-gradient(gray 70%, white);
$text: black;
$header: white;
$accent: rgb(252, 138, 157);
