@use 'variables';

@import 'header';
@import 'main';




body {
    background: url(/images/metalcubes_background.png) 50% fixed;
    background-repeat: no-repeat;
    background-size: 2000px auto;
    margin: 30px;
}