@use 'fonts-styles';

@import 'headline';
@import 'main';
@import 'footer';




body {
    background: url(/images/concrete_bg.png) 50% fixed;
    background-repeat: no-repeat;
    background-size: 2000px auto;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
}