body {
  background-color: #F6EEEE;
  max-width: 1800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  max-width: 1800px;
  width: 100%;
  min-height: 300px;
  background-image: url(../images/kahlo-eyes.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.news {
  max-width: 100px;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 46px;
  padding: 20px;
}

.row {
  border: 5px solid #C4C4C4;
  padding: 20px;
}

.paragraph {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 10px;
}

.img {
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.headings {
  font-family: "Rokkitt", serif;
  font-size: 46px;
  margin-top: 50px;
  text-decoration: underline;
}