@use "fonts-styles";
@import "navbar";
@import 'footer';


body {
    background-color: fonts-styles.$color-one;
    width: 100%;
    margin: auto;
    padding-top: 1rem;
  }
  
  .heading {
    width: 100%;
    min-height: 20rem;
    background-image: url(../images/kahlo-eyes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .news {
    max-width: 7rem;
    font-family: fonts-styles.$myfont-pgraph;
    color: #FFFFFF;
    font-size: 2rem;
    margin-left: 1rem
  }
  
  .row {
    border: 1rem solid #C4C4C4;
    padding: 1rem;
  }
  
  .paragraph {
    font-family: fonts-styles.$myfont-pgraph;
    font-size: 1rem;
    padding: 1rem;
  }
  
  .img {
    width: 300px;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }
  .headings {
    font-family: fonts-styles.$myfont-heading;
    font-size: 3rem;
    margin-top: 2rem;
    text-decoration: underline;
  }