@import "fonts-styles";
@import "navbar";


body {
    background-color: $color-one;
    max-width: 70rem;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .heading {
    max-width: 70rem;
    width: 100%;
    min-height: 300px;
    background-image: url(../images/kahlo-eyes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .news {
    max-width: 7rem;
    font-family: $myfont-pgraph;
    color: #FFFFFF;
    font-size: 36px;
    padding: 1 rem;
  }
  
  .row {
    border: 5px solid #C4C4C4;
    padding: 20px;
  }
  
  .paragraph {
    font-family: $myfont-pgraph;
    font-size: 20px;
    padding: 10px;
  }
  
  .img {
    max-width: 500px;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }
  .headings {
    font-family: $myfont-heading;
    font-size: 46px;
    margin-top: 2rem;
    text-decoration: underline;
  }